<h4>Sections</h4>
<ul>
	<li><a href="/">Discussion</a></li>
	<li><a href="/game/">Game</a></li>
	<li><a href="/articles/">Articles</a></li>
</ul>

<h4>Social</h4>
<ul>
	<li><a target="_blank" href="https://twitter.com/AgarioOrg">Twitter</a></li>
	<li><a target="_blank" href="https://www.facebook.com/AgarioOrg">Facebook</a></li>
	<li><a target="_blank" href="https://plus.google.com/+AgarioOrg">Google+</a></li>
</ul>