<h2>Game Features</h2>
<ul>
    <li>visible map borders</li>
    <li>scroling zoom</li>
    <li>direct IP connection</li>
    <li>showing IP of current server</li>
    <li>displayable size of every cell</li>
    <li>custom skins</li>
    <li>extended colors</li>
    <li>skin selector</li>
</ul>

<p>All settings are optional.</p>

<h3>Color System Features</h3>
<ul>
<li>Viruses are always grey</li>
<li>Your cell is blue</li>
<li>Cells that can kill us after splitting are red</li>
<li>Cells that can only kill us without splitting are orange</li>
<li>Cells that are close to our size (neither you can it them nor they can eat you) are yellow</li>
<li>Cells that we can kill without splitting only are dark green</li>
<li>Cells that we will be able to kill after splitting are bright green</li>
</ul>

<h2 id="release_notes">Release notes</h2>
<ul>
    <li>1.0.1
        <ul>
            <li>save setting function</li>
            <li>split button (mobile)</li>
            <li>spectate mode temporary disabled</li>
            <li>camera bug fixes</li>
        </ul>
    </li>
    <li>1.0.0
        <ul>
            <li>Independent version</li>
        </ul>
    </li>
    <li>0.3.3
        <ul>
            <li>Quick Play now connects you to the nearest server</li>
            <li>Game interface update</li>
            <li>Increased game loading speed</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.3.1
        <ul>
            <li>Updated interface</li>
            <li>Quick play feature</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.3.0
        <ul>
            <li>Refactoring</li>
            <li>Dynamic skin loading system</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.8
        <ul>
            <li>New interface</li>
            <li>New logo</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.6
        <ul>
            <li>Team mode colors are now default, but cell border color is optionally covered with "Extended colors"</li>
            <li>Team skins are now 75% transparent</li>
            <li>Skins in main menu sorted alphabetically</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.5
        <ul>
            <li>Added shortcut play button</li>
            <li>Added favicon</li>
            <li>Slightly changed extended colors formula</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.4
        <ul>
            <li>Added skin selector</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.3
        <ul>
            <li>Fixed scoreboard in teams mode</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.2
        <ul>
            <li>Fixed zoom on some platforms</li>
            <li>Slightly changed extended colors</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.2.0
        <ul>
            <li>Fixed bug with game crash</li>
            <li>Slightly changed extended colors</li>
            <li>Added zoom in spectator mode</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.1.3
        <ul>
            <li>Added support for Teams mode</li>
            <li>New IP connector (fixed disconnect after death)</li>
            <li>Added short info on menu screen</li>
            <li>Fixed bug with double ESC</li>
            <li>Slight changes in color formulas</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.1.2
        <ul>
            <li>Dark theme border is now visible</li>
            <li>Updated IP form connector</li>
            <li>Added more user skins</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.1.1
        <ul>
            <li>An option to enable opacity for skinned players (useful to see the colors and the skins)</li>
            <li>Fixed the color system (added a new color for indication)</li>
            <li>Bug fixes</li>
        </ul>
    </li>
    <li>0.1.0
        <ul>
            <li>Borders are now visible in the light theme</li>
            <li>Mousewheel zoom</li>
            <li>Ip connection in the main menu</li>
            <li>Mass of all the balls is now visible</li>
            <li>Player coordinates are now visible (near the score screen)</li>
            <li>A new color system (Details are below)</li>
            <li>Custom skins (you can order a custom skin on the site)</li>
        </ul>
    </li>
</ul>
